<div class="container">
  <div class="row">
    <div class="col">
      <input class="_input" type="text" placeholder="Type here" ng-model="city" />
      <button class="_btn" ng-click="search(city)" >Search</button>
    </div>
    <div class="col-12">
      <h3 ng-show="!errMsg && weather.main">Weather for  {{city}}</h3>
      <table class="table" ng-show="!errMsg" >
        <tbody>
          <tr ng-repeat="(key,value) in weather.main ">
            <th>{{key}}</th>
            <td>{{value}}</td>
          </tr>
        </tbody>
      </table>
      <span class="text-danger" ng-show="errMsg" >{{errMsg}}</span>
    </div>
  </div>
</div>
